@import "../../../styles/settings";

.process__contain {
  padding: 25px 0;
  width: 100%;
  background: rgb(255, 255, 255);
  @include flexbox-center;
  flex-direction: column;
}
.process {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .process__step {
    width: 100%;
  }
  .process__steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
}
